* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;

    /* oculta barra de desplazamiento a los costados */
    -ms-overflow-style: none;
    scrollbar-width: none;

}

/* oculta barra de desplazamiento a los costados para distintos navegadores */
*::-webkit-scrollbar {
    display: none;
}

.board {
    width: 100%;
    height: 100vh;
    overflow: scroll;

    background-color: #ffffff;
    background-color: #abd7ae;
}


/* FORM */
.form {
    display: none;
    width: 100%;
    height: 100%;

    border-radius: 5px;
    position: absolute;

    background-color: rgba(0, 0, 0, 0.5);

}

.content-form {
    margin-top: 12px;
    margin-left: 200px;

    padding: 25px;

    border-radius: 5px;
    position: absolute;

    /* background-color: rgba(255, 255, 255, 0.628); */
    background-color: #ffffffe4;
    color: rgb(0, 0, 0);
    z-index: 2;
}


.form label {
    display: block;

    margin: 10px;
    font-size: 18px;

    color: #000000;
}

.form input {
    margin-top: 12px;
    padding: 12px 32px;
    display: block;

    border-radius: 4px;
    border: none;

    box-shadow: 0px 5px 15px #00000040;
    background-color: #ffffff;
    color: #6a6262;

    font-weight: bold;
    font-size: 14px;
    cursor: text;
    outline: none;
}

.btn-form {
    margin-left: 32px;
    margin-top: 12px;
    padding: 12px 32px;

    border-radius: 4px;
    border: none;

    box-shadow: 0px 5px 15px #00000040;
    background-color: #ffffff;
    color: #000000;

    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.submit {
    margin-left: 0;
    margin-top: 20px;
    background-color: #64cb6bc8;
}

.btn-form:hover {
    background-color: #7aa77d !important;
    transition: all 250ms !important;
}

.expand-form {
    display: block;
}

/* BOARD */
.column {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 16px;

    padding: 24px 32px;

    overflow: scroll;
    height: 100%;

}

.title-column {
    padding-bottom: 5px;
    margin: 0 auto;
    width: 80%;

    font-size: 22px;
    font-weight: bold;
    margin-bottom: 8px;

    text-align: center;
    border-bottom: 1px solid rgb(230, 217, 217);
}

.card-column {
    display: flex;
    flex-direction: column;
    gap: 12px;

    background-color: #F9F7F5;
    box-shadow: 0px 5px 15px #00000040;

    padding: 12px;
    border-radius: 6px;
    width: 350px;
    min-height: 120px;
}

.task {
    background-color: #ffffff;
    color: #000;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);

    padding: 12px;
    border-radius: 4px;

    font-size: 16px;
    cursor: pointer;

    /* Transiciones para arrastrar y soltar */
    transition: transform 0.3s ease;

    border: 1px solid #ccc;
    border-left: 3px solid #4a81e8;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-origin: top;
}

/* Reglas que tomará al activar el evento drag */
.is-dragging {
    transform: scale(1.05);
    box-shadow: 0px 5px 15px rgba(116, 105, 105, 0.25);
    background-color: rgb(127, 124, 124);
    color: #ffffff;

    transform: translateY(-5%);
    z-index: 1;
}

/* Reglas que tomará desde el js cuando se active el evento click en la tarea */
.additional-info {
    height: 0;
    overflow: hidden;
    /* max-height: var(--max-height); */

    color: rgba(0, 0, 0, 0.402);

    /* margin-top: 20px; */

    transition: height 500ms ease;
}

.expand {
    height: 156px;
    /* max-height: 200px; */
    /* height: max-content; */

    transition: height 500ms ease;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.402);
}


.expand p {
    margin-bottom: 10px;
}